h1{
    background: #b3b3b4;
    font-size: 150%;
    color: #ffffff;
}

header{
    background-color: #445566;
    text-align: center;
}

nav{
    font-variant:small-caps;
    font-size: 150%;
    font-family: ariel,"time new roman",serif
} 

h2{
    color: #1bdae0;
    background: #104480;
}

details{
    font-style: italic;
}

summary{
    font-style: normal;
}    

footer{
background: #b3b3b4;
}