body {
    background: #838383;
    font-size: 150%;
    margin: 4%;
}

h1 {
    color: #ffffff;
}

header{
    background-color: #445566;
    text-align: center;
    padding: 15px;
}

nav{
    font-variant:small-caps;
    font-size: 150%;
    font-family: ariel,"time new roman",serif
} 

h2{
    color: #1bdae0;
    background: #104480;
}

section {
    width: 30%;
    display: inline-block;
    float: left;
    margin-right: 2%;

}

details{
    font-style: italic;
}

summary{
    font-style: normal;
}    

footer{
background: #b3b3b4;
clear: both;
}

img {
    width: 100px;
}